<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeandweb</key>
	<dict>
		<key>generator</key>
		<string>TexturePacker 3.6.0 - http://www.codeandweb.com/texturepacker</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c8e666e9d9eb1b9106776ed222b9342f:ac7608d1f04ab193bff21724566c15eb:d3d9ca2375be85e50df23e2c87410bb2$</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>bgsprites.1@2x.png</string>
			<key>size</key>
			<string>{3693,1777}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>Background@2x.png</string>
					<key>spriteOffset</key>
					<string>{0,200}</string>
					<key>spriteSourceSize</key>
					<string>{1022, 768}</string>
					<key>textureRect</key>
					<string>{{1,1},{600,1420}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>fort@2x.png</string>
					<key>spriteOffset</key>
					<string>{0,170}</string>
					<key>spriteSourceSize</key>
					<string>{1000,400}</string>
					<key>textureRect</key>
					<string>{{600,1450},{1000,100}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>BackgroundScene2@2x.png</string>
					<key>spriteOffset</key>
					<string>{0,170}</string>
					<key>spriteSourceSize</key>
					<string>{1000,400}</string>
					<key>textureRect</key>
					<string>{{600,1200},{900,200}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>BackgroundScene3@2x.png</string>
					<key>spriteOffset</key>
					<string>{0,170}</string>
					<key>spriteSourceSize</key>
					<string>{1000,400}</string>
					<key>textureRect</key>
					<string>{{1300,1200},{900,200}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>moon1@2x.png</string>
					<key>spriteOffset</key>
					<string>{0,170}</string>
					<key>spriteSourceSize</key>
					<string>{300,300}</string>
					<key>textureRect</key>
					<string>{{100,1500},{300,200}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
